@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito.ttf') format('truetype'),
    url('./fonts/Nunito-Italic.ttf') format('truetype');

  font-style: normal;
  word-wrap: break-word;
  color: #334163;
}

@font-face {
  font-family: 'lsd';
  src: url('./fonts/digital.ttf') format('truetype');

  font-style: normal;
  word-wrap: break-word;
}


@font-face {
  font-family: 'RobotoCondensed';
  src: url('./fonts/RobotoCondensed-Regular.ttf') format('woff'),
    url('./fonts/RobotoCondensed-Bold.ttf') format('woff'),
    url('./fonts/RobotoCondensed-Light.ttf') format('woff'),
}

:root {
  font-family: 'Nunito';
}

#root {
  position: relative;
}

.display {
  font-family: 'lsd';
}

#side-bar ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track  */
#side-bar ::-webkit-scrollbar-track {
  background: #00000000;
}

#side-bar ::-webkit-scrollbar-track:hover {
  background: #0000000d;
}

/* Handle */
#side-bar ::-webkit-scrollbar-thumb {
  background: #ffffff27;
}

/* Handle on hover */
#side-bar ::-webkit-scrollbar-thumb:hover {
  background: #ffffff7f;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

/* Track  */
::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-track:hover {
  background: #0000000b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000031;
  width: 0.4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0000005b;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ebeef6;
}

h1,
h2 {
  font-family: 'RobotoCondensed';
  font-weight: 900;
}

.gray-trans {
  background: #00000049;
}

#side-bar:hover .tab {
  width: 100%;
  transition: width 0.15s ease-in-out 0.3s;
}

label {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: medium;
  font-weight: 600;
}

label.up {
  top: 0;
  font-size: small;
  font-weight: 400;
}

.btn-neutral {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(75 85 99);
  transition: 0.2s;
}

.btn-neutral:hover {
  background-color: #f3f4f6;
}

.btn-neutral:disabled {
  background-color: white;
  cursor: default;
}

.btn-neutral:active {
  opacity: 0.8;
  transition: 0s;
}

.btn-naranja {
  cursor: pointer;
  background-color: rgb(251 146 60);
  color: white;
  font-weight: 700;
  transition: 0.2s;
}

.btn-naranja:hover {
  background-color: rgb(243, 132, 42);
}

.btn-naranja:active {
  opacity: 0.8;
  transition: 0s;
}

.btn-naranja:disabled {
  background-color: rgba(251, 146, 60, 0.897);
  opacity: 0.7;
  /*cursor: progress;*/
  cursor: default;
}

.btn-trash {
  cursor: pointer;
  background-color: #ef4444;
  color: white;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.btn-trash:hover {
  background-color: rgb(181, 25, 25);
}

.btn-trash:active {
  opacity: 0.8;
  transition: 0s;
}

.btn-trash:disabled {
  background-color: #f3f4f6;
  color: #6b7280;
  opacity: 0.8;
  cursor: default;
}

.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-reset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.emerge {
  animation: emerge 0.5s ease-out;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.appear {
  animation: appear 0.5s ease-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.animate-slide>div {
  animation: slide 1.6s ease-in-out infinite;
}

@keyframes slide {
  0% {
    opacity: 20%;
    width: 100%;
    left: -100%;

  }

  35% {
    opacity: 100%;
  }

  65% {
    opacity: 20%;
    width: 20%;
    left: 100%;
  }

  100% {
    opacity: 0%;
    left: 100%;
  }
}

#fp-logo {
  width: 20vh;
  height: 35vh;
}

#fp-logo .rayas_g1 {
  opacity: 0.2;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}


#fp-logo:hover .rayas_g1 {

  animation: dash 2.5s ease-out, dash-disolve 1.5s ease-in-out 2.4s;
}

#fp-logo .rayas_g2 {
  opacity: 0.2;

}

/*
#fp-logo:hover .opac.rayas_g1  {
  animation: dash-disolve 0.8s ease-in-out 3s;
}

#fp-svg {
  width: 20vh;
  height: 35vh;
  opacity: 0;
  stroke-dasharray: 0;
  cursor: pointer;
}


#fp-svg:hover {
  opacity: 1;
  animation: dash 3s ease-out;
}



#fp-svg:hover .opac {
  animation: dash-disolve 0.8s ease-in-out;
  animation-delay: 2.9s;
  animation-fill-mode: forwards;
}
*/

@keyframes dash {
  0% {
    opacity: 0;
    stroke-dasharray: 35;
    stroke-dashoffset: 35;
    filter: invert(15%) sepia(8%) saturate(7494%) hue-rotate(196deg) brightness(94%) contrast(101%);
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
    stroke-dashoffset: 2;
  }

  100% {
    stroke-dasharray: 2;
    stroke-dashoffset: 2;
    filter: invert(15%) sepia(8%) saturate(7494%) hue-rotate(196deg) brightness(94%) contrast(101%);
    opacity: 1;
  }

}

@keyframes dash-disolve {
  0% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    opacity: 1;
    filter: invert(23%) sepia(48%) saturate(6186%) hue-rotate(350deg) brightness(82%) contrast(98%) drop-shadow(3px 3px 4px rgba(254, 130, 130, 0.7));
  }

  30% {
    opacity: 1;
    filter: invert(23%) sepia(48%) saturate(6186%) hue-rotate(350deg) brightness(82%) contrast(98%) drop-shadow(3px 3px 4px rgba(254, 130, 130, 0.7));
  }

  40% {
    opacity: 0.7;
    filter: invert(23%) sepia(48%) saturate(6186%) hue-rotate(350deg) brightness(82%) contrast(98%) drop-shadow(3px 3px 4px rgba(254, 130, 130, 0.7));
  }

  50% {
    opacity: 1;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    filter: invert(23%) sepia(48%) saturate(6186%) hue-rotate(350deg) brightness(82%) contrast(98%) drop-shadow(3px 3px 4px rgba(254, 130, 130, 0.7));
  }

  85% {
    opacity: 0.2;
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
  }

  100% {
    opacity: 0.2;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

input[type="checkbox"].switch {
  position: relative;
  width: 45px;
  height: 24px;
  -webkit-appearance: none;
  background: #f3f4f6;
  outline: none;
  border-radius: 34px;
  box-shadow: inset 0 0 1.5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

input[type="checkbox"].switch::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 4px;
  left: 5px;
  background: #9ca3af;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input[type="checkbox"].switch:checked::after {
  background: #fb923c;
  left: 24px;

}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 0;
  /* Place tooltip below the element */
  white-space: nowrap;
  /* Keeps the tooltip text on a single line */
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
  pointer-events: none;
  transform: translateY(-100%);
}


.minimal-button {
  /*
  border: 2px solid #fb923c;
  */
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 150ms ease-in-out;
}

.minimal-button:hover {
  border: 1px solid #fb923c;
}

.minimal-button:active {
  opacity: 0.6;
  transition: 0s;
}

.slide-right {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateX(100%);
  animation: fromRight 1s ease-out forwards
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);

  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.calendar {
  background-color: white;
  padding: 10px;
}

.calendar table td {
  height: 34px;
  width: 34px;
  text-align: center;
}

.calendar table th {
  color: #1e3a8a;
}

.calendar table thead {
  border-block: 1px solid #d1d5db;
}

.calendar table caption {
  font-weight: 700;
  color: #1e293b;
}

.calendar table td {
  color: #1e293b;

}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.custom-table tr {
  height: 30px;
  border-block: 1px solid #e2e8f0;
  transition: 0.2s;
  white-space: nowrap;
}

.custom-table th {
  position: sticky;
  background-color: white;
  top: -1px;
  z-index: 5;
  height: 2.25rem;
  color: #4b5563;
  font-weight: 400;
  font-size: medium;
  /*
  padding: ;
  */
}

.custom-table td {
  color: #374151;
  font-weight: 600;
  padding: 0 10px 0 10px;
}

.custom-table tbody tr:hover {
  cursor: pointer;
  background-color: #f1f5f9;
}

.custom-check {
  height: 1.25rem;
  width: 1.25rem;
  appearance: none;
  position: relative;
  transition: 200ms;
}

.custom-check::after {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  border: 1px solid #d2d6dc;
  transition: 200ms;
  cursor: pointer;

}

.custom-check:checked::after {
  background-color: #fb923c;
  content: '';
  display: inline-block;
  border: 1px solid #d2d6dc;
}

.custom-check:hover::after {
  border: 1px solid #ffb070;
  background-color: #ffffff;
}


.custom-check:checked:hover::after {
  border: 1px solid #ff9b4a;
  background-color: #ffa55c;
}

.custom-check:checked::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #ffffff;
  pointer-events: none;
  clip-path: polygon(46% 57%, 70% 20%, 84% 30%, 52% 79%, 42% 79%, 19% 58%, 31% 43%);
}

input[type="password"].pin {
  height: 7rem;
  font-size: 4rem;
  transition: 0.2s;
  background-color: transparent;
  caret-color: transparent;
  color: #1f2937;
  font-weight: 700;
  font-family: 'robotoCondensed';
}

input[type="password"]:disabled {
  opacity: 20%;
  transition: opacity 1s ease-out;
}



input[type="password"].pin:focus {
  outline: none;
}